.content {
    background-color: #061a2c;
    padding-left: 7vw;
    padding-right: 7vw;
    text-align: left;
    font-size: calc(10px + 2vmin);
}

.grid-container {
    display: grid;
    grid: auto / 55vw ;
    grid-gap: 10px;
    padding: 10px;
    overflow: hidden;
}

.content h1, h5 {
    color: #ff9900;
}
.content h5 {
    color: #ceb471;
    font-weight: bold;
    border-bottom: 2px solid #ff920f;
}

.content p {
    font-size: 19px;
    color: #ceb471;
}
