
.container {
    color: rgba(197, 160, 124, 0.93);
    text-align: left;
}

.container p{

    background: -webkit-linear-gradient(80deg, #f6b455 0%, #eee 85%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

p.quote  {
    font-style: italic;
    font-size: 20px;
}

p.author {
    font-size: 20px;

}
